<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/AppTheme"
        android:label="EG:SA"
        android:icon="@drawable/empire_icon"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity
            android:theme="@style/GameActivityTheme"
            android:name="top.th1nk.samp.feature.game.GameActivity"
            android:exported="false"
            android:process=":game"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden|keyboard"
            android:hardwareAccelerated="true" />

        <activity
            android:name=".GameClientActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".IntroActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
